.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    width: 300px; /* Ajusta el tamaño del carrusel */
    height: 200px; /* Ajusta el tamaño del carrusel */
    border-radius: 10px;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

button {
    background-color: #ff3366;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
}

button:hover {
    background-color: #ff0055;
}
